@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mxw {
    @apply max-w-[1440px] mx-auto px-4
  }

  .btn {
    @apply dark:border-gray-500
  }
  .PBtn{
    @apply bg-transparent px-3 py-1  exo-2-font hover:border-b-2 border-[#00cdb7] transform duration-100 hover:text-[#00cdb7]
  }
  .activePBtn{
    @apply bg-transparent px-3 py-1  exo-2-font border-b-2 border-[#00cdb7] text-[#00cdb7]
  }
 
  .actionBtn{
    @apply border-[#00cdb7] border text-[#00cdb7] px-3 py-1 rounded-full hover:bg-[#00cdb7] hover:text-white transform duration-200
  }
  .activeActionBtn{
    @apply bg-[#00cdb7] text-white px-3 py-1 rounded-full
  }
}

body {
  overflow-y: scroll;
  background-color: var(--color-base)
}

.exo-2-font {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --color-base: #efefef;
  --color-text: #1f2937;
  --color-button: #00cdb7;
  scroll-behavior: smooth;
}

/* Dark Theme */
[data-theme="dark"] {
  --color-base: #1f2937;
  --color-text: #f9fafb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}